.outdoor {
	color: blue;	
}

.indoor {
	color: red;	
}

.headtable {
    width: 100%;
}

.headtable tr td {
    padding-right: 20px;
    text-align: left;
}

#panna_on {
    color: green;
}
#panna_off {
    color: red;
    display: none;
}

.temp {
	font-size: 2em;
	margin-left: 100px;
	margin-right: 100px;
}

.skruv {
	float: right;
	//border: 1px solid black;
}

input, select {
	font-size: 2em;
	width: 300px;
}

td, th {
	font-size: 2em;
	text-align: left;
}

button {
	font-size: 1em;
}

table {
	margin-left: 100px;
}